<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}} | Travlr Getaways</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="background">
    <div id="page">

      {{> header}}

      {{{body}}}

      {{> footer}}

    </div>
  </div>
</body>
</html>
